header {
	background: blueviolet;
	color: white;
	width: 100%;
	max-width: 700px;
	margin: 50px auto;
	text-align: center;
	padding: 15px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#frontend {
	max-width: 700px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 50px auto;
	text-align: center;
	border-radius: 10px;
	padding: 15px;
	color: darkmagenta;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#frontend h2 {
	font-size: 30px;
	border-bottom: 4px solid gray;
}

#frontend button {
	background-color: darkmagenta;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 20px;
	margin: 0px 10px;
	cursor: pointer;
}

#frontend p {
	background-color: darkmagenta;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 25px;
	font-weight: bold;
}

#frontend ul {
	list-style: none;
	padding: 0;
	font-size: 25px;
}

#frontend ul li {
	border: 1px solid black;
	padding: 15px;
	border-radius: 20px;
	margin: 20px 0px;
}

.frontendForm {
	display: flex;
}
